<h3 class="mono_text">Draw what you want, 
    <a href="#" {{action "undo"}}>undo</a> or 
    <a href="#" {{action "clear"}}>clear</a>
</h3>

<svg id="svg1" width="100%" height="500">
    {{#each lines as |obj|}}
        <polyline points="{{obj}}" style="fill:none;stroke:black;stroke-width:3" />
    {{/each}}
</svg>