<div class="mono_text">Ember + SVG demo. Draw, 
    <a href="#" {{action "undo"}}>undo</a> or 
    <a href="#" {{action "clear"}}>clear</a>
</div>

<svg id="svg1" width="100%" height="600">
    {{#each lines as |obj|}}
        <polyline points="{{obj}}" class="line" pointer-events="none"/>
    {{/each}}
</svg>